body {
  --white: rgba(255,255,255,1);
  --navy: rgba(31, 64, 117, 1);
  --azure: rgba(0, 137, 207, 1);
  --grey: rgba(235, 246, 251, 1);
  --red: rgba(255, 58, 88, 1);
  --green: rgba(190, 237, 83, 1);

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background: var(--grey);
}

button {
  padding: 7px 15px;
  margin: 0 2px;
  border: 0;
}

button:active {
  transform: translate(1px,1px);
}

button:focus {
  outline: 0;
}

.shopping-cart {
  max-width: 850px;
  margin: 20px auto;
}

/* == Top Bar == */

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.top-bar .app-title {
  padding-bottom: 10px;
}

button.clear-cart {
  background: var(--red);
  color: var(--white);
}

button.add-item {
  background: var(--green);  
}

/* == Cart Content == */

.cart-content-header {
  background: var(--navy);
  color: var(--white);
  margin: 20px 20px 0 20px;
  padding: 10px;
  display: flex;
}

.cart-item {
  background: var(--white);
  border-bottom: 1px solid var(--grey);
  display: flex;
  padding: 10px;
  margin: 0 20px;
}

.no-items {
  background: var(--white);
  font-style: italic;
  border-bottom: 1px solid var(--grey);
  display: flex;
  padding: 10px;
  margin: 0 20px;
}

/* == Cart Summary == */

.cart-summary {
  margin: 20px;
  max-width: 200px;
  margin-left: auto;
}

.net-total,
.gross-total,
.tax-rate {
  background: var(--white);
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.cart-summary .label,
.cart-summary .value {
  padding: 5px;
}

/* == Media Queries == */

@media screen and (max-width: 500px) {
  .top-bar {
    align-items: center;
    flex-direction: column;
  }
}